.container {
    margin-top: 100px;
    text-align: center;
}

input {
    width: 100%;
}
#displayImage, #watermarked-img, #qrcode, #displayImage1{
    max-width: 100%;
}

#retrived_qr{
    width: 256px;
    height: 256px;
}

.content{
    margin: 0px auto 0px auto;
}

.after{
    width: 80%;
}

@media screen and (max-width: 480px) {
    .after{
        width: 92%;
    }
}

h3, #uploadIpfs{
    margin: 0px auto 50px auto;
}

.imageDisplay{
    cursor: pointer;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin: 0px auto 0px auto;
    text-align: center;
    color: #495057;
    padding: 10px;
}

.overlay {
    background: #e9e9e9;  
    display: none;        
    position: absolute;
    z-index: 1000;
    top: 0;       
    opacity: 0.4;           
    right: 0;                
    bottom: 0;
    left: 0;
}
.loading{
    background-color: #ced4da;
}

#loading-img{
    z-index: 1000;
    width: 150px;
    height: 150px;
    display: none;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#ipfs-complete{
    margin-bottom: 20px;
}

.ipfs-img{
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: 20px 30px;
}
.ipfs-complete, .deployment-complete, .deployment-failed{
    margin: 0px auto 0px auto;
    width: fit-content;
}

.side{
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: 0.5;
}


#wait{
    max-width: 170px;
    animation: wait 1.5s;
    animation-direction: alternate;
    animation-iteration-count:infinite;
}

.wait{
    width: 400px;
    margin: 0px auto 0px auto;
    position: relative;
}



#deploy-complete{
    max-width: 250px;
    animation: mymove 1s;
    animation-direction: alternate;
    animation-iteration-count:infinite;
}

.img-card{
    height: 280px;
}

.img-card img{
    margin: auto;
    max-height: 280px;
}


@keyframes mymove {
    from {transform: scaleX(-1);}
    to {transform: scaleX(1);}
}
@keyframes wait {
    from {margin-left: -100px;}
    to {margin-left: 100px;}
}